.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .input-wrapper {
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: 1000px) {
      width: 50%;
    }
    @media screen and (max-width: 700px) {
      width: 60%;
    }
    button {
      text-align: center;
      justify-content: center;
      color: white;
      box-shadow: 3px 3px 70px rgba(0, 0, 0, 0.5);
      padding: 5px 15px;
      display: block;
      border-radius: 5px;
      border-style: none;
      background-color: transparent;
      margin: 10px auto;
      border: 1px solid rgba(255, 255, 255, 0.5);
      width: 150px;
    }
    button:hover {
      background-color: #d5c84d;
    }
    input {
      border-style: none;
      outline: none;
      width: 50%;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
      @media screen and (max-width: 700px) {
        width: 80%;
      }
    }
  }
}
