.CreateReport {
  min-height: 100vh;
}
.wizard-candidates {
  display: flex;
  min-height: 100vh;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.wizard-candidates .left {
  width: 25%;
  color: white;
  margin-top: 65px;
  padding-left: 35px;
  @media screen and (max-width: 700px) {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .select-wrapper {
    @media screen and (max-width: 700px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
    }
  }

  .selected p {
    font-size: 14px;
    color: rgb(213, 200, 77);
  }

  p {
    font-size: 15px;
    @media screen and (max-width: 700px) {
      font-size: 14px;
      text-align: center;
    }

    span {
      display: inline-block;
      padding: 5px;

      text-align: center;
      margin-right: 5px;

      @media screen and (max-width: 700px) {
        width: 25px;
        height: 25px;
      }
    }
  }
  .active {
    color: rgb(213, 200, 77);
  }
}

.wizard-candidates .right {
  width: 75%;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px 0 20px;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
  button {
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    display: block;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    @media screen and (max-width: 700px) {
      margin: 0 auto;
      margin-bottom: 35px;
    }
  }
  button:hover {
    background-color: #d5c84d;
  }
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 100px;
    @media screen and (max-width: 700px) {
      margin-bottom: 35px;
    }
    button {
      margin: 0;
    }
    a {
      width: auto;
    }
  }
  .company-container {
    width: 60%;
    margin: 30px auto;
    ul {
      padding-left: 0;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      color: white;
      width: 100%;
      list-style-type: none;
      li {
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 8px 0;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
  .users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;

    .single-user {
      width: 30%;
      border-radius: 10px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
      text-align: center;
      background-color: rgba(255, 255, 255, 0.1);
      margin-bottom: 35px;
      height: 250px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      margin-right: 0;
      @media screen and (max-width: 1000px) {
        width: 47%;
      }
      @media screen and (max-width: 700px) {
        width: 47%;
      }

      img {
        width: 130px;
        height: 122px;
        border-radius: 50%;
      }

      h3 {
        font-size: 12px;
      }

      p {
        font-size: 10px;
        @media screen and (max-width: 700px) {
          font-size: 7px;
          letter-spacing: 0.8px;
        }
      }
    }
  }
}

.inputs-container {
  color: white;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  p {
    @media screen and (max-width: 1000px) {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  .interview-date-container {
    width: 26%;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
    input {
      margin: 0;
    }
  }
  .interview-phase-container {
    width: 26%;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
  .interview-status-container {
    width: 26%;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
  input {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
.notes {
  color: white;
  width: 80%;
  margin: 0 auto;
  textarea {
    width: 100%;
    height: 150px;
    outline: none;
    border-radius: 10px;
  }
}
.react-datepicker-ignore-onclickoutside {
  margin: 0;
}

button.react-datepicker__navigation.react-datepicker__navigation--previous {
  width: 3px;
  height: 5px;
  margin-top: 8px;
  clip-path: polygon(80% 0, 0 50%, 80% 100%);
  background-color: rgb(182, 180, 161);
  margin-right: 5px;
}
button.react-datepicker__navigation.react-datepicker__navigation--next {
  width: 3px;
  height: 5px;
  margin-top: 8px;
  clip-path: polygon(20% 0, 100% 50%, 20% 100%);
  background-color: rgb(182, 180, 161);
  margin-right: 5px;
}
.selected-report-property {
  background-color: rgb(213, 200, 77) !important;
  transition: 0.5s;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container input {
  padding: 0;
  padding-left: 3px;
  color: black;
  background-color: white;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
  text-align: left;
}
textarea {
  padding: 10px;
}
