.Card {
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 35px;
  height: 400px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 0;
  img {
    width: 50%;
    border-radius: 50%;
  }
  p {
    font-size: 12px;
  }
}
a {
  width: 26%;
  text-decoration: none;
}
.card-center {
  width: 100%;
}
