.Candidates {
}

.Main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
}
input {
  width: 30%;
  text-align: center;
  justify-content: center;
  color: white;
  box-shadow: inset 7px 7px 25px rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: block;
  margin: 10px auto;
  margin-bottom: 50px;
  border-radius: 5px;
  border-style: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  @media screen and (max-width: 1000px) {
    width: 60%;
    margin-top: 20px;
  }
  @media screen and (max-width: 700px) {
    width: 60%;
    margin-top: 20px;
  }

  &::placeholder {
    color: white;
    font-weight: 100;
    font-size: 10px;
  }
}
