.HeaderFront {
  color: white;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    h3 {
      color: white;
      font-size: 40px;
      margin: 20px 0;
    }
  }

  button {
    text-align: center;
    justify-content: center;
    color: white;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    display: block;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.HeaderBack {
  color: white;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .button-wrapper {
    display: flex;
    justify-content: space-around;
  }
  a {
    h3 {
      color: white;
      font-size: 40px;
      margin: 20px 0;
    }
    button {
      text-align: center;
      justify-content: center;
      color: white;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      padding: 5px 15px;
      display: block;
      border-radius: 5px;
      border-style: none;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin-left: 5px;
    }
  }
}
