.SearchCard {
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 35px;
  height: 150px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 150px;
    margin: 10px auto;
  }
  @media screen and (max-width: 700px) {
    width: 80%;
    height: 280px;
    margin: 15px auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  p {
    @media screen and (max-width: 700px) {
      font-size: 15px;
      color: rgb(213, 200, 77);
    }
  }
  h3 {
    color: rgb(213, 200, 77);
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
  }
  .label-report {
    font-size: 12px;
    @media screen and (max-width: 700px) {
      font-size: 11px;
      color: white;
    }
  }
  button {
    text-align: center;
    justify-content: center;
    color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 5px;
  }
  button:hover {
    background-color: #d5c84d;
  }
}

.search-card-left {
  width: 80%;

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  @media screen and (max-width: 700px) {
    height: 80%;
  }

  div {
    width: 20%;

    @media screen and (max-width: 700px) {
      margin-bottom: 10px;
      width: 80%;
    }

    h3 {
      @media screen and (max-width: 700px) {
        margin-bottom: 2px;
      }
    }

    p {
      @media screen and (max-width: 700px) {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 700px) {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
